@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.no-scroll::-webkit-scrollbar {
  width: 0; /* width of the entire scrollbar */
}

.no-scroll::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.no-scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
  border-radius: 0; /* roundness of the scroll thumb */
  border: 0; /* creates padding around scroll thumb */
}
